//app
:root {
	--app-max-width: 1923px;
	--container-min-padding: 0 1.38rem;
	--container-max-padding: 0 3.38rem;
	--app-bg-color: #ffffff;
}

//fonts
:root {
	--font-family-main: 'Lexend Deca', sans-serif;
	--font-color-main: #000000;
}
