//app
:root {
	--app-max-width: 24rem;
	--container-min-padding: 0 1rem;
	--container-max-padding: 0 1.5rem;
	--app-bg-color: #e0e0e0;
	--color-main: #808080;
}

//fonts
:root {
	--font-color-main: #1d1d1d;
	--font-family-main: var(--font-mulish), sans-serif;
	--font-family-accent: var(--font-lato), sans-serif;
}
